{{ define "main" }}
<div class="container">
  <section>
    <h1>Category: {{ .Title }}</h1>
    
    {{ $paginator := .Paginate .Pages }}
    {{ range $index, $page := $paginator.Pages }}
      <article class="h-entry">
        <div class="post-meta">
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" class="dt-published">{{ .Date.Format "January 2, 2006" }}</time>
          {{ if .Params.updated }}
          {{ $updated := .Params.updated | time.AsTime }}
          <time datetime="{{ $updated.Format "2006-01-02T15:04:05-07:00" }}" class="dt-updated meta">(updated {{ $updated.Format "January 2, 2006" }})</time>
          {{ end }}
        </div>
        
        <h2><a href="{{ .Permalink }}" class="u-url p-name">{{ .Title }}</a></h2>
        
        {{ if .Description }}
        <p class="p-summary">{{ .Description }}</p>
        {{ else if .Summary }}
        <p class="p-summary">{{ .Summary }}</p>
        {{ end }}
        
        {{ if .Params.tags }}
        <footer class="tags">
          {{ range .Params.tags }}
          <a href="/tags/{{ . | urlize }}" class="tag p-category">#{{ . }}</a>
          {{ end }}
        </footer>
        {{ end }}
      </article>
    {{ end }}
  </section>
  
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
