<div class="container">
  <ul>
    <li><a href="/" {{ if .IsHome }}aria-current="page"{{ end }}>Home</a></li>
    {{ with .Site.GetPage "/about" }}
    <li><a href="{{ .Permalink }}" {{ if eq $.Permalink .Permalink }}aria-current="page"{{ end }}>About</a></li>
    {{ end }}
    {{ with .Site.GetPage "/tags" }}
    <li><a href="{{ .Permalink }}" {{ if eq $.Permalink .Permalink }}aria-current="page"{{ end }}>Tags</a></li>
    {{ end }}
    {{ with .Site.GetPage "/archive" }}
    <li><a href="{{ .Permalink }}" {{ if eq $.Permalink .Permalink }}aria-current="page"{{ end }}>Archive</a></li>
    {{ end }}
    {{ with .Site.GetPage "/notes" }}
    <li><a href="{{ .Permalink }}" {{ if eq $.Permalink .Permalink }}aria-current="page"{{ end }}>Notes</a></li>
    {{ end }}
  </ul>
</div>
