<div class="container">
  <a href="/" class="u-url p-name">
    <h1>{{ .Site.Title }}</h1>
  </a>
  {{ with .Site.Params.description }}
  <p class="p-summary site-description">{{ . }}</p>
  {{ end }}
  
  {{ with .Site.Params.author }}
  <div class="p-author h-card h-card-hidden">
    <span class="p-name">{{ .name }}</span>
    {{ with .email }}
    <a class="u-email" href="mailto:{{ . }}">{{ . }}</a>
    {{ end }}
    {{ with .photo }}
    <img class="u-photo" src="{{ . | absURL }}" alt="{{ $.Site.Params.author.name }}">
    {{ end }}
    {{ with .url }}
    <a class="u-url" rel="me" href="{{ . }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
</div>
