{{ define "main" }}
<div class="container">
  <section>
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}
    
    <div class="terms-list">
      {{ range $key, $taxonomy := .Site.Taxonomies }}
        {{ if $key }}
        <h2><a href="{{ (printf "/%s/" $key) | absURL }}">{{ $key | title }}</a> ({{ len $taxonomy }})</h2>
        <ul>
          {{ range $taxonomy }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ len . }})</li>
          {{ end }}
        </ul>
        {{ end }}
      {{ end }}
    </div>
  </section>
</div>
{{ end }}
