{{ define "main" }}
<div class="container">
  <section>
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}
    
    {{ $posts := where .Site.RegularPages "Type" "in" (slice "post" "notes") }}
    {{ range $posts.GroupByDate "2006" }}
      <section>
        <h2>{{ .Key }}</h2>
        {{ range .Pages.ByDate.Reverse }}
          <article class="h-entry">
            <header>
              <h3><a href="{{ .Permalink }}" class="u-url p-name">{{ .Title }}</a></h3>
              <div class="post-meta">
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" class="dt-published">{{ .Date.Format "January 2" }}</time>
                {{ if .Params.updated }}
                {{ $updated := .Params.updated | time.AsTime }}
                <time datetime="{{ $updated.Format "2006-01-02T15:04:05-07:00" }}" class="dt-updated meta">(updated {{ $updated.Format "January 2" }})</time>
                {{ end }}
                <data value="{{ .WordCount }}">{{ .WordCount }} words</data>
                {{ with .Params.readingTime }}
                <data value="{{ . }}">{{ . }} min read</data>
                {{ end }}
              </div>
            </header>
            
            {{ if .Description }}
            <p class="p-summary">{{ .Description }}</p>
            {{ else if .Summary }}
            <p class="p-summary">{{ .Summary }}</p>
            {{ end }}
            
            {{ if .Params.tags }}
            <footer class="tags">
              {{ range .Params.tags }}
              <a href="/tags/{{ . | urlize }}" class="tag p-category">{{ . }}</a>
              {{ end }}
            </footer>
            {{ end }}
          </article>
        {{ end }}
      </section>
    {{ end }}
  </section>
</div>
{{ end }}
